.centered {
  height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }
  .moves{
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
  }
  .list-group{
    height: 55vh;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 10px;
  }
  .sroll-style::-webkit-scrollbar {
    width: 10px;
    background: white;
    border-radius: 10px;
  }
  .sroll-style::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(220, 53, 69); 
    border-radius: 10px;
  }
  
  .sroll-style::-webkit-scrollbar-thumb {
    background:red; 
    border-radius: 10px;
  }
  .sroll-style::-webkit-scrollbar-thumb:hover {
    background: #d30a3e; 
  }